name: Docker

on:
  push:
    branches: [master]
  workflow_dispatch:

jobs:
  docker:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - context: ./debian-php-72
            tag: php-72

          - context: ./debian-php-73
            tag: php-73

          - context: ./debian-php-74
            tag: php-74

          - context: ./debian-php-80
            tag: php-80
          
          - context: ./debian-php-81
            tag: php-81

      fail-fast: false

    name: Docker (dockette/web:${{ matrix.tag }})

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: ${{ matrix.context  }}
          push: true
          tags: dockette/web:${{ matrix.tag }}
          platforms: linux/amd64,linux/arm64
